mixin slider(modifier)
  .slider&attributes(attributes)
    .slider__content
      +card(class="slider__item slider__item--active")
      +card(class="slider__item")
      +card(class="slider__item")
    .slider__progress#progress