.slider {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin-top: 50px;

  @media screen and (max-height: 900px) {
    margin-top: 10px;
  }
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background: url(../img/slides.svg) no-repeat bottom center;
    background-size: contain;
    top: 568px;
    position: absolute;
    z-index: -1;

    @media screen and (max-height: 900px) {
      top: 498px;
    }
  }
  
  &__content {
    width: 100%;
    border-radius: 5.4px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  &__item {
    position: absolute;
    top: 100%;
    transition: all 1s ease-in-out;
    
    &--active {
      top: 0;
    }
    
    &--fading {      
      animation: fading 3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
      
      @keyframes fading {
        
        0% {
          
        }
        
        50% {
//          opacity: .5;
        }
        
        100% {
          top: 50px;
          opacity: 0;
          transform: scale(.8);
        }
      }
      
      & + .slider__item {
        top: 0;
      }
    }
    
    &--old {
      top: 50px;
      transform: scale(.8);
    }
  }
  
  &__progress {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 545px;
    left: 100%;
    margin-left: 35px;

    @media screen and (max-height: 900px) {
      top: 475px;
    }
  }
}
