mixin card(modifier)
  .card&attributes(attributes)
    .card__wrapper
      .card__photo
        .card__photo-content(style="background-image: url(./img/user.png);")
      .card__content
        h3.card__name Черниговцев Александр Алексеевич
        p.card__region Россия, г. Москва
        .card__id 5043
        .card__item
          h4.card__item-dark Директор по науке и непрерывному образованию
          p.card__item-gray АНО “АСИ”
        .card__item
          p.card__item-gray Интересы
          h4.card__item-dark Образование, Юриспруденция, Стратегическое управление и ещё 20