.card {
  padding: 60px 90px;
  background: #fff;
  border-radius: 5.4px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 570px;

  @media screen and (max-height: 900px) {
    padding: 20px;
    height: 500px;
  }
  
  &__wrapper {
    display: flex;
  }
  
  &__photo {
    flex-shrink: 0;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#5D95D1, #0EDBD2);
    border-radius: 50%;
    width: 167px;
    height: 167px;
  }
  
  &__photo-content {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #fff;
    border: 6px solid #fff;
    background-image: url(../img/default.svg) no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  &__name {
    font-size: 31.365px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: .73px;
    color: #111;
  }
  
  &__region {
    font-weight: 600;
    line-height: 36px;
    font-size: 20.4px;
    letter-spacing: .47px;
    color: #b4b4b4;
  }
  
  &__id {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19.2px;
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
//    width: 207px;
    padding: 0 24.84px;
    height: 47px;
    background: #18CDD3;
    border-radius: 2.55px;
    margin-bottom: 45px;
    margin-top: 15px;
    
    &:before {
      content: '';
      display: block;
      margin-right: 12px;
      width: 100px;
      height: 19px;
      background: url(../img/logo.svg) no-repeat left center;
      background-size: contain;
    }
  }
  
  &__item {
    max-width: 70%;
    
    &+& {
      margin-top: 30px;

      @media screen and (max-height: 900px) {
        margin-top: 20px;
      }
    }
  }
  
  &__item-dark {
    flex-basis: 24.4px;
    line-height: 33px;
    font-weight: 600;
    color: #111;
    margin: 5px 0;
  }
  
  &__item-gray {
    margin: 5px 0;
    font-size: 20.4px;
    letter-spacing: .47px;
    line-height: 36px;
    font-weight: 600;
    color: #b4b4b4;
  }
}