extends ../templates/template.pug
block content
  .wrapper
    .wrapper__content.wrapper__content--with-padding
      h3.wrapper__date 21 августа 16:57
      h1.wrapper__header Сегодня в Точке кипения
      +slider