.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  
  &__content {
    max-width: 1030px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &--with-padding {
      padding-top: 10vh;

      @media screen and (max-height: 900px) {
        padding-top: 50px;
      }
    }
  }
  
  &__date {
    font-size: 33px;
    font-weight: 700;
    line-height: 66px;
    color: #fff;
    opacity: .7;
  }
  
  &__header {
    font-weight: 700;
    line-height: 66px;
    color: #fff;
    font-size: 51px;
  }
}
